@tailwind base
@tailwind components
@tailwind utilities

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;700&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap")
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700;800;900&display=swap')

::selection
    color: #fcfcfc
    background: #305c96

html
    scrollbar-width: none
    scroll-behavior: smooth
    background-color: #161616

.scrollbar-0
    scrollbar-color: #1c1c1c #030712

.scrollbar-1
    scrollbar-color: #9ca3af #f3f4f6

#loader
    background-color: #161616
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E")
