//! MAIN THEME COLORS
$dark-1: #1b1d1e
$dark-2: #44494b
$light-1: #94999e
$light-2: #ebebec

//! BACKGROUND COLORS  
$bg-white: #e2e8f0
$bg-blue: #0f172a

//! LOGO COLORS
$logo-light-mid: #f3f6f9
$logo-light-side: #94c9ff

$logo-dark-mid: #0a1929
$logo-dark-side: #003b75

//! TEXT COLORS
$text-color-dark: #0a1929
$text-color-light: #f3f6f9

//! COLORS
$white: #f3f6f9
$transparent: #00000000

//! FONT
// $font-family-ibm: 'IBM Plex Sans', sans-serif
// $font-family-roboto: 'Roboto', sans-serif
// $font-family-montserrat: 'Montserrat', sans-serif
// $font-family-open-sans: 'Open Sans', sans-serif
$desktop-font-size-xl: 1.5rem
$desktop-font-size: 1.25rem
$tablet-font-size: 1rem
$mobile-font-size: 0.75rem

@tailwind base
@tailwind components
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap')






